:root{
    --sys-color: #000000;
    --sys-font-family: 'Roboto', sans-serif;
    --sys-width:calc(wh)
}

body ,#app,#app .home{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}
#app .home .header,#app .home .sidebar,#app .home .footer,#app .home .main{
    margin: 0;
    padding: 0;
    border: 0;
}
#app .home .header{
    width: 100%;
    height: 4vh;
    padding-bottom: 1vh;
    background-color: #409eff;
    font-size: xx-large;
}
#app .home .sidebar{
    text-align: left;
    width: 5vw;
    height: 94vh;
    position: absolute;
    left: 0;
    background-color: #ecf8ff;
}
#app .home .main{
    width: calc(92vw - 5px);
    height: calc(94vh - 15px);
    padding-top: 20px;
    padding-left: 6vw;
    padding-right: 5px;
}
#app .home .footer{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #ecf8ff;
    padding-bottom: 5px;
    height: calc(2vh - 5px);
    overflow: hidden;
}
img{
    height: 100%;
}

.condition{
    text-align: left;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
}