<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongle.car.dao.mapper.CarShopMapper">
  <resultMap id="BaseResultMap" type="com.dongle.car.dao.model.CarShop">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="c_id" jdbcType="CHAR" property="cId" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="images" jdbcType="VARCHAR" property="images" />
    <result column="logo" jdbcType="CHAR" property="logo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `name`, address, c_id, tel, phone, `status`, images, logo
  </sql>
  <select id="selectByExample" parameterType="com.dongle.car.dao.model.CarShopExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car_shop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_shop
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from car_shop
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dongle.car.dao.model.CarShopExample">
    delete from car_shop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dongle.car.dao.model.CarShop">
    insert into car_shop (id, `name`, address, 
      c_id, tel, phone, `status`, 
      images, logo)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{cId,jdbcType=CHAR}, #{tel,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, 
      #{images,jdbcType=VARCHAR}, #{logo,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dongle.car.dao.model.CarShop">
    insert into car_shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="cId != null">
        c_id,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="images != null">
        images,
      </if>
      <if test="logo != null">
        logo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="cId != null">
        #{cId,jdbcType=CHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="images != null">
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dongle.car.dao.model.CarShopExample" resultType="java.lang.Long">
    select count(*) from car_shop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update car_shop
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=CHAR},
      </if>
      <if test="row.name != null">
        `name` = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.address != null">
        address = #{row.address,jdbcType=VARCHAR},
      </if>
      <if test="row.cId != null">
        c_id = #{row.cId,jdbcType=CHAR},
      </if>
      <if test="row.tel != null">
        tel = #{row.tel,jdbcType=VARCHAR},
      </if>
      <if test="row.phone != null">
        phone = #{row.phone,jdbcType=CHAR},
      </if>
      <if test="row.status != null">
        `status` = #{row.status,jdbcType=INTEGER},
      </if>
      <if test="row.images != null">
        images = #{row.images,jdbcType=VARCHAR},
      </if>
      <if test="row.logo != null">
        logo = #{row.logo,jdbcType=CHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update car_shop
    set id = #{row.id,jdbcType=CHAR},
      `name` = #{row.name,jdbcType=VARCHAR},
      address = #{row.address,jdbcType=VARCHAR},
      c_id = #{row.cId,jdbcType=CHAR},
      tel = #{row.tel,jdbcType=VARCHAR},
      phone = #{row.phone,jdbcType=CHAR},
      `status` = #{row.status,jdbcType=INTEGER},
      images = #{row.images,jdbcType=VARCHAR},
      logo = #{row.logo,jdbcType=CHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dongle.car.dao.model.CarShop">
    update car_shop
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="cId != null">
        c_id = #{cId,jdbcType=CHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="images != null">
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dongle.car.dao.model.CarShop">
    update car_shop
    set `name` = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      c_id = #{cId,jdbcType=CHAR},
      tel = #{tel,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      `status` = #{status,jdbcType=INTEGER},
      images = #{images,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>