<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwanvi.nvwa.dao.FlowSourceMapper" >
  <resultMap id="BaseResultMap" type="com.iwanvi.nvwa.dao.model.FlowSource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="media_name" property="mediaName" jdbcType="VARCHAR" />
    <result column="media_type" property="mediaType" jdbcType="INTEGER" />
    <result column="target_type" property="targetType" jdbcType="INTEGER" />
    <result column="media_uuid" property="mediaUuid" jdbcType="VARCHAR" />
    <result column="media_state" property="mediaState" jdbcType="INTEGER" />
    <result column="run_state" property="runState" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="join_type" property="joinType" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_addr" property="companyAddr" jdbcType="VARCHAR" />
    <result column="company_linkman" property="companyLinkman" jdbcType="VARCHAR" />
    <result column="linkman_tel" property="linkmanTel" jdbcType="VARCHAR" />
    <result column="website_url" property="websiteUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
   <sql id="Example_Where_Clause_Join" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and c.${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and c.${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and c.${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and c.${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, media_name, media_type, target_type, media_uuid, media_state, run_state, create_user, 
    create_time, update_time, type, join_type, company_name, company_addr, company_linkman, 
    linkman_tel, website_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.iwanvi.nvwa.dao.model.FlowSourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from flow_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="start != null and limit != null">
    limit ${start},${limit}
    </if>
  </select>
    <select id="selectListByExample" resultMap="BaseResultMap" parameterType="com.iwanvi.nvwa.dao.model.FlowSourceExample" >
    SELECT c.*, COUNT(c.media_uuid) AS adpCount
    <if test="distinct" >
      distinct
    </if>
	FROM (SELECT flow_source.* FROM flow_source LEFT JOIN ad_position  ON flow_source.media_uuid=ad_position.flow_uuid
	) AS c
	<if test="_parameter != null" >
      <include refid="Example_Where_Clause_Join" />
    </if>
    <if test="orderByClause != null" >
    GROUP BY c.media_uuid 
    order by ${orderByClause}
    <if test="start != null and limit != null">
    limit ${start},${limit}
    </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from flow_source
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from flow_source
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.iwanvi.nvwa.dao.model.FlowSourceExample" >
    delete from flow_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iwanvi.nvwa.dao.model.FlowSource" >
    insert into flow_source (id, media_name, media_type, 
      target_type, media_uuid, media_state, 
      run_state, create_user, create_time, 
      update_time, type, join_type, 
      company_name, company_addr, company_linkman, 
      linkman_tel, website_url)
    values (#{id,jdbcType=INTEGER}, #{mediaName,jdbcType=VARCHAR}, #{mediaType,jdbcType=INTEGER}, 
      #{targetType,jdbcType=INTEGER}, #{mediaUuid,jdbcType=VARCHAR}, #{mediaState,jdbcType=INTEGER}, 
      #{runState,jdbcType=INTEGER}, #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}, #{joinType,jdbcType=INTEGER}, 
      #{companyName,jdbcType=VARCHAR}, #{companyAddr,jdbcType=VARCHAR}, #{companyLinkman,jdbcType=VARCHAR}, 
      #{linkmanTel,jdbcType=VARCHAR}, #{websiteUrl,jdbcType=VARCHAR})
      <selectKey resultType="Integer" order="AFTER" keyProperty="flow_source.id">
            SELECT LAST_INSERT_ID() AS id
       </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.iwanvi.nvwa.dao.model.FlowSource" keyProperty="id" useGeneratedKeys="true">
    insert into flow_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mediaName != null" >
        media_name,
      </if>
      <if test="mediaType != null" >
        media_type,
      </if>
      <if test="targetType != null" >
        target_type,
      </if>
      <if test="mediaUuid != null" >
        media_uuid,
      </if>
      <if test="mediaState != null" >
        media_state,
      </if>
      <if test="runState != null" >
        run_state,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="joinType != null" >
        join_type,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyAddr != null" >
        company_addr,
      </if>
      <if test="companyLinkman != null" >
        company_linkman,
      </if>
      <if test="linkmanTel != null" >
        linkman_tel,
      </if>
      <if test="websiteUrl != null" >
        website_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mediaName != null" >
        #{mediaName,jdbcType=VARCHAR},
      </if>
      <if test="mediaType != null" >
        #{mediaType,jdbcType=INTEGER},
      </if>
      <if test="targetType != null" >
        #{targetType,jdbcType=INTEGER},
      </if>
      <if test="mediaUuid != null" >
        #{mediaUuid,jdbcType=VARCHAR},
      </if>
      <if test="mediaState != null" >
        #{mediaState,jdbcType=INTEGER},
      </if>
      <if test="runState != null" >
        #{runState,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="joinType != null" >
        #{joinType,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddr != null" >
        #{companyAddr,jdbcType=VARCHAR},
      </if>
      <if test="companyLinkman != null" >
        #{companyLinkman,jdbcType=VARCHAR},
      </if>
      <if test="linkmanTel != null" >
        #{linkmanTel,jdbcType=VARCHAR},
      </if>
      <if test="websiteUrl != null" >
        #{websiteUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iwanvi.nvwa.dao.model.FlowSourceExample" resultType="java.lang.Integer" >
    select count(*) from flow_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update flow_source
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mediaName != null" >
        media_name = #{record.mediaName,jdbcType=VARCHAR},
      </if>
      <if test="record.mediaType != null" >
        media_type = #{record.mediaType,jdbcType=INTEGER},
      </if>
      <if test="record.targetType != null" >
        target_type = #{record.targetType,jdbcType=INTEGER},
      </if>
      <if test="record.mediaUuid != null" >
        media_uuid = #{record.mediaUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.mediaState != null" >
        media_state = #{record.mediaState,jdbcType=INTEGER},
      </if>
      <if test="record.runState != null" >
        run_state = #{record.runState,jdbcType=INTEGER},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.joinType != null" >
        join_type = #{record.joinType,jdbcType=INTEGER},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyAddr != null" >
        company_addr = #{record.companyAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.companyLinkman != null" >
        company_linkman = #{record.companyLinkman,jdbcType=VARCHAR},
      </if>
      <if test="record.linkmanTel != null" >
        linkman_tel = #{record.linkmanTel,jdbcType=VARCHAR},
      </if>
      <if test="record.websiteUrl != null" >
        website_url = #{record.websiteUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update flow_source
    set id = #{record.id,jdbcType=INTEGER},
      media_name = #{record.mediaName,jdbcType=VARCHAR},
      media_type = #{record.mediaType,jdbcType=INTEGER},
      target_type = #{record.targetType,jdbcType=INTEGER},
      media_uuid = #{record.mediaUuid,jdbcType=VARCHAR},
      media_state = #{record.mediaState,jdbcType=INTEGER},
      run_state = #{record.runState,jdbcType=INTEGER},
      create_user = #{record.createUser,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      type = #{record.type,jdbcType=INTEGER},
      join_type = #{record.joinType,jdbcType=INTEGER},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      company_addr = #{record.companyAddr,jdbcType=VARCHAR},
      company_linkman = #{record.companyLinkman,jdbcType=VARCHAR},
      linkman_tel = #{record.linkmanTel,jdbcType=VARCHAR},
      website_url = #{record.websiteUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iwanvi.nvwa.dao.model.FlowSource" >
    update flow_source
    <set >
      <if test="mediaName != null" >
        media_name = #{mediaName,jdbcType=VARCHAR},
      </if>
      <if test="mediaType != null" >
        media_type = #{mediaType,jdbcType=INTEGER},
      </if>
      <if test="targetType != null" >
        target_type = #{targetType,jdbcType=INTEGER},
      </if>
      <if test="mediaUuid != null" >
        media_uuid = #{mediaUuid,jdbcType=VARCHAR},
      </if>
      <if test="mediaState != null" >
        media_state = #{mediaState,jdbcType=INTEGER},
      </if>
      <if test="runState != null" >
        run_state = #{runState,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="joinType != null" >
        join_type = #{joinType,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddr != null" >
        company_addr = #{companyAddr,jdbcType=VARCHAR},
      </if>
      <if test="companyLinkman != null" >
        company_linkman = #{companyLinkman,jdbcType=VARCHAR},
      </if>
      <if test="linkmanTel != null" >
        linkman_tel = #{linkmanTel,jdbcType=VARCHAR},
      </if>
      <if test="websiteUrl != null" >
        website_url = #{websiteUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iwanvi.nvwa.dao.model.FlowSource" >
    update flow_source
    set media_name = #{mediaName,jdbcType=VARCHAR},
      media_type = #{mediaType,jdbcType=INTEGER},
      target_type = #{targetType,jdbcType=INTEGER},
      media_uuid = #{mediaUuid,jdbcType=VARCHAR},
      media_state = #{mediaState,jdbcType=INTEGER},
      run_state = #{runState,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      join_type = #{joinType,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_addr = #{companyAddr,jdbcType=VARCHAR},
      company_linkman = #{companyLinkman,jdbcType=VARCHAR},
      linkman_tel = #{linkmanTel,jdbcType=VARCHAR},
      website_url = #{websiteUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
	
	<select id="getCnt" resultType="java.lang.Integer">
		SELECT count(T1.id) as total
		FROM `flow_source` T1
	</select>

	<select id="getIds" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT 
			T1.id, T1.media_uuid 
		FROM `flow_source` T1
		<if test="offset != null">
			limit #{offset}, #{limit}
		</if>
	</select>
</mapper>