<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwanvi.nvwa.dao.QuotaDidMapper">
	<resultMap id="BaseResultMap" type="com.iwanvi.nvwa.dao.model.QuotaDid">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="fs_id" jdbcType="VARCHAR" property="fsId" />
		<result column="cre_id" jdbcType="INTEGER" property="creId" />
		<result column="did" jdbcType="VARCHAR" property="did" />
		<result column="is_active" jdbcType="INTEGER" property="isActive" />
		<result column="clk_time" jdbcType="BIGINT" property="clkTime" />
		<result column="act_time" jdbcType="BIGINT" property="actTime" />
		<result column="ip" jdbcType="VARCHAR" property="ip" />
		<result column="area_code" jdbcType="VARCHAR" property="areaCode" />
		<result column="aid" jdbcType="VARCHAR" property="aid" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, fs_id, cre_id, did, is_active, clk_time, act_time, ip, area_code, aid
	</sql>
	<select id="selectByExample" parameterType="com.iwanvi.nvwa.dao.model.QuotaDidExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from quota_did
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from quota_did
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from quota_did
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.iwanvi.nvwa.dao.model.QuotaDidExample">
		delete from quota_did
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.iwanvi.nvwa.dao.model.QuotaDid">
		insert into quota_did (id, fs_id, cre_id,
		did, is_active, clk_time,
		act_time, ip, area_code,
		aid)
		values (#{id,jdbcType=INTEGER}, #{fsId,jdbcType=VARCHAR},
		#{creId,jdbcType=INTEGER},
		#{did,jdbcType=VARCHAR}, #{isActive,jdbcType=INTEGER}, #{clkTime,jdbcType=BIGINT},
		#{actTime,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR},
		#{areaCode,jdbcType=VARCHAR},
		#{aid,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.iwanvi.nvwa.dao.model.QuotaDid">
		insert into quota_did
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="fsId != null">
				fs_id,
			</if>
			<if test="creId != null">
				cre_id,
			</if>
			<if test="did != null">
				did,
			</if>
			<if test="isActive != null">
				is_active,
			</if>
			<if test="clkTime != null">
				clk_time,
			</if>
			<if test="actTime != null">
				act_time,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="areaCode != null">
				area_code,
			</if>
			<if test="aid != null">
				aid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="fsId != null">
				#{fsId,jdbcType=VARCHAR},
			</if>
			<if test="creId != null">
				#{creId,jdbcType=INTEGER},
			</if>
			<if test="did != null">
				#{did,jdbcType=VARCHAR},
			</if>
			<if test="isActive != null">
				#{isActive,jdbcType=INTEGER},
			</if>
			<if test="clkTime != null">
				#{clkTime,jdbcType=BIGINT},
			</if>
			<if test="actTime != null">
				#{actTime,jdbcType=BIGINT},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="areaCode != null">
				#{areaCode,jdbcType=VARCHAR},
			</if>
			<if test="aid != null">
				#{aid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.iwanvi.nvwa.dao.model.QuotaDidExample"
		resultType="java.lang.Integer">
		select count(*) from quota_did
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update quota_did
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.fsId != null">
				fs_id = #{record.fsId,jdbcType=VARCHAR},
			</if>
			<if test="record.creId != null">
				cre_id = #{record.creId,jdbcType=INTEGER},
			</if>
			<if test="record.did != null">
				did = #{record.did,jdbcType=VARCHAR},
			</if>
			<if test="record.isActive != null">
				is_active = #{record.isActive,jdbcType=INTEGER},
			</if>
			<if test="record.clkTime != null">
				clk_time = #{record.clkTime,jdbcType=BIGINT},
			</if>
			<if test="record.actTime != null">
				act_time = #{record.actTime,jdbcType=BIGINT},
			</if>
			<if test="record.ip != null">
				ip = #{record.ip,jdbcType=VARCHAR},
			</if>
			<if test="record.areaCode != null">
				area_code = #{record.areaCode,jdbcType=VARCHAR},
			</if>
			<if test="record.aid != null">
				aid = #{record.aid,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update quota_did
		set id = #{record.id,jdbcType=INTEGER},
		fs_id = #{record.fsId,jdbcType=VARCHAR},
		cre_id = #{record.creId,jdbcType=INTEGER},
		did = #{record.did,jdbcType=VARCHAR},
		is_active = #{record.isActive,jdbcType=INTEGER},
		clk_time = #{record.clkTime,jdbcType=BIGINT},
		act_time = #{record.actTime,jdbcType=BIGINT},
		ip = #{record.ip,jdbcType=VARCHAR},
		area_code = #{record.areaCode,jdbcType=VARCHAR},
		aid = #{record.aid,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.iwanvi.nvwa.dao.model.QuotaDid">
		update quota_did
		<set>
			<if test="fsId != null">
				fs_id = #{fsId,jdbcType=VARCHAR},
			</if>
			<if test="creId != null">
				cre_id = #{creId,jdbcType=INTEGER},
			</if>
			<if test="did != null">
				did = #{did,jdbcType=VARCHAR},
			</if>
			<if test="isActive != null">
				is_active = #{isActive,jdbcType=INTEGER},
			</if>
			<if test="clkTime != null">
				clk_time = #{clkTime,jdbcType=BIGINT},
			</if>
			<if test="actTime != null">
				act_time = #{actTime,jdbcType=BIGINT},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="areaCode != null">
				area_code = #{areaCode,jdbcType=VARCHAR},
			</if>
			<if test="aid != null">
				aid = #{aid,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.iwanvi.nvwa.dao.model.QuotaDid">
		update quota_did
		set fs_id = #{fsId,jdbcType=VARCHAR},
		cre_id = #{creId,jdbcType=INTEGER},
		did = #{did,jdbcType=VARCHAR},
		is_active = #{isActive,jdbcType=INTEGER},
		clk_time = #{clkTime,jdbcType=BIGINT},
		act_time = #{actTime,jdbcType=BIGINT},
		ip = #{ip,jdbcType=VARCHAR},
		area_code = #{areaCode,jdbcType=VARCHAR},
		aid = #{aid,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="countActByUidAndDay" resultType="java.lang.Integer">
		select count(*)
		from quota_did qd, entity e
		where qd.cre_id = e.id
		and qd.act_time between ${sTime} and ${eTime}
		and qd.is_active = 1
		and e.create_user = ${uid}
	</select>
</mapper>