<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="${db.url}" />
		<property name="username" value="${db.user}" />
		<property name="password" value="${db.password}" />
		
		<property name="idleConnectionTestPeriodInMinutes" value="${bonecp.idleConnectionTestPeriodInMinutes}" />
    	<property name="idleMaxAgeInMinutes" value="${bonecp.idleMaxAgeInMinutes}" />
    	<property name="minConnectionsPerPartition" value="${bonecp.minConnectionsPerPartition}" />
    	<property name="maxConnectionsPerPartition" value="${bonecp.maxConnectionsPerPartition}" />
    	<property name="partitionCount" value="${bonecp.partitionCount}" />
    	<property name="acquireIncrement" value="${bonecp.acquireIncrement}" />
    	<property name="statementsCacheSize" value="${bonecp.statementsCacheSize}" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="mapperLocations">
			<value>classpath:mapper/*.xml</value>
		</property>
    </bean>
</beans>
